@import 'vars';
$tool-size: 38px;
$tool-color: rgba(0, 0, 0, .6);
$tool-border-color: $line-color;
$tool-active-color: rgba(0, 0, 0, .7);
$tool-active-border-color: rgba(0, 0, 0, .4);
$toolbox-gutter: ($toolbox-size - $tool-size) / 2;
$tool-shortcut-size: 16px;

@mixin tool-basics() {
	border-radius: 100%;
	@include simetric($tool-size);
	color: $tool-color;
}

@mixin tool-states() {
	border: 1px solid $tool-border-color;

	&:hover {
		border: 1px solid $tool-active-border-color;
		color: $tool-active-color;
	}
}

[skin='sausalito'] {
	#header {
		height: $toolbox-size;
		line-height: $toolbox-size;
		@include fill();
		bottom: auto;

		.logo {
			margin: ($toolbox-size - 32) / 2;
			float: left;
		}

		.file-title {
			float: left;
			color: $line-color;
		}
	}

	#toolbox {
		@include fill();
		left: auto;
		max-width: 70%;
		height: $toolbox-size;
		right: $tool-size + ($toolbox-gutter * 2);
		padding: $toolbox-gutter;

		.tool {
			position: relative;
			display: inline-block;
			margin: 0 ($toolbox-gutter / 4);
		}

		label {
			@include tool-basics();
		}

		input:checked + label {
			@include tool-states();
		}

		.tool-shortcut {
			background-color: rgb(39, 174, 96);
			color: #fff;
			position: absolute;
			right: -($tool-shortcut-size / 5);
			bottom: -($tool-shortcut-size / 5);
			@include simetric($tool-shortcut-size);
			font-size: ($tool-shortcut-size / 2);
			pointer-events: none;
			border-radius: 100%;
		}
	}

	#edit-toolbox {
		@include tool-basics();
		@include tool-states();
		position: absolute;
		top: $toolbox-gutter;
		right: $toolbox-gutter;
	}
}
