@import 'vars';

[skin='sausalito'] {
	#panels {
		width: 250px;
		background-color: blue;
		color: #eee;
		position: absolute;
		top: $toolbox-size;
		right: 0;
		bottom: 0;

		.panel {
			border-bottom: 1px solid white;
		}

		h2 {
			display: inline;
		}
	}
}
