@import 'globals';

$grid-weight: 1px;
$grid-primary-color: rgba(255, 255, 255, .5);
$grid-pattern: $grid-primary-color $grid-weight, transparent $grid-weight;

#grid {
	@include fill();
	background-image: linear-gradient($grid-pattern), linear-gradient(90deg, $grid-pattern);
	background-position: (-$grid-weight) (-$grid-weight);
	pointer-events: none;
	z-index: 9999;
	cursor: inherit;
}
