.Grid {
  background-image:
    linear-gradient(rgba(200, 200, 200, .5) 1px, transparent 1px),
    linear-gradient(90deg, rgba(200, 200, 200, .5) 1px, transparent 1px);
	pointer-events: none;
	z-index: 98;
	cursor: inherit;
}
