<h1>Raster</h1>

<div>
	<h2>New blank canvas</h2>
	{{{workspaceSettingsTemplate}}}
</div>
<div>
	<h2>Open from...</h2>
	<button id="new-from-file">Browse (⌘ + O)</button>
</div>
<div>
	<h2>Edit from cloud</h2>
	<ul id="recents"></ul>
</div>
